body {
  margin: 0;
}

.story {
  display: flex;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.story:nth-child(2n) {
  flex-direction: row-reverse;
}

.story-title {
  font-size: 5rem;
}

.story-smaller-title {
  font-size: 2.5rem;
}

.story-description {
  font-size: 2rem;
}

.story-text {
  width: 50%;
}

.story-img {
  width: 50%;
  margin: 15px;
  padding: 15px;
  border: 2px solid salmon;
}

.story:nth-child(n+1) {
  background-color: crimson;
}

.story:nth-child(n+2) {
  background-color: darkviolet;
}

.story:nth-child(n+3) {
  background-color: darkcyan;
}

.story:nth-child(n+4) {
  background-color: khaki;
}

.story:nth-child(n+5) {
  background-color: saddlebrown;
}
